* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* banenr design */
.header {
  background-image: url(../images/donation0.jpg),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  margin: 0 200px;
  text-align: center;
}

.head_text {
  color: white;
  font-weight: 900;
  font-size: 80px;
  margin-bottom: 20px;
}
.head_discription {
  color: whitesmoke;
  margin-bottom: 20px;
}

.primary_btn {
  background-color: rgb(255, 60, 0);
  border: none;
  padding: 15px 18px;
  color: white;
  font-weight: 800;
  font-size: 20px;
  border-radius: 5px;
}
.primary_btn:hover {
  background-color: rgb(231, 109, 72);
}

/* main */
main {
  max-width: 1340px;
  margin: 0 auto;
}
/* Donate Amount Section */
.donate_today_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  margin: 30px 0;
}
.donate_title {
  color: black;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
}
.donate_disc {
  color: #757575;
  font-size: 20px;
  margin-bottom: 20px;
}
.donate_amount_item {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.donate_amount {
  display: flex;
  background-color: rgb(248, 246, 246);
  font-size: 25px;
  font-weight: 900;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.donate_amount:hover {
  background-color: rgb(253, 232, 232);
  color: red;
  border: 1px solid red;
}

.input_other_amount {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

/* our donate Plan design */

.Total_plan {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.donate_disc{
  margin-bottom: 60px;
}
.our_donate_plan {
  margin-top: 130px;
  margin-bottom: 100px;
}
.donate_title{
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 20px;
}
.plan_title_details {
  text-align: center;
}

.plan_title {
  color: black;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
}
.plan_discription {
  color: #757575;
  margin-bottom: 20px;
  font-size: 20px;
}
.plan_img {
  height: 80px;
  width: 80px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.Plan_donate_item1 {
  background-color: rgb(232, 248, 253);
  padding: 20px;
  height: 400px;
  width: 1250px;
  border-radius: 10px;
}

.Plan_donate_item2 {
  background-color: rgb(253, 232, 232);
  padding: 20px;
  height: 400px;
  width: 1250px;
  border-radius: 10px;
}

.Plan_donate_item3 {
  background-color: rgb(253, 249, 232);
  padding: 20px;
  height: 400px;
  width: 1250px;
  border-radius: 10px;
}

/* contribute section design */
.Contribute_container {
  margin-top: 130px;
  margin-bottom: 30px;
}
.contrubete_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contru_title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
}
.contru_discription {
  margin-bottom: 20px;
}
.contibute_laft {
  width: 50%;
}
.contribute_right {
  width: 50%;
}
.contribute_image {
  width: 100%;
  border-radius: 10px;
}

.contrubete_bottom {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* get my update */

.get_update_details{
  margin-top: 130px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.update_title{
  font-weight: 900;
  font-size: 60px;
}
.update_discrip{
  font-size: 20px;
  color: #757575;
  margin-top: 40px;
  margin-bottom: 40px;
}

.out_get_div{
   width: 100%;
   text-align: center;
   margin-bottom: 130px;

}
.update_email_send{
  display: inline-block;
        margin: 0 auto;
        padding: 3px;
  background-color: rgb(252, 247, 230);
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5px;
 
}

.email_input{
 background-color: rgb(228, 228, 228);
 width: 40%;
 padding: 20px;
   font-weight: 600;
  font-size: 25px;
 border: none;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}

.email_submit_btn{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  width: 15%;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 25px;
  border: none;
  margin-left: -5px;

}
.email_submit_btn:hover{
  background-color: rgb(243, 102, 102);
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}

footer h2{
  font-family: 'Lobster', cursive;

  color: red;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

footer p{
  font-size: 22px;
}